table {
    width: 100%;
  }
  th.mat-header-cell {
    font-weight: 700;
  }
  
.mat-column-title {
    width: 30% !important;
    padding: 10px;
  }
  
.mat-column-author_name {
    width: 20% !important;
    padding: 10px;
  }
  
.mat-column-publish_date {
    width: 40% !important;
    padding: 10px;
  }
  
.mat-column-favourite {
    width: 10% !important;
    padding: 10px;
  }